<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="app-shell">

    <aside class="sidebar">
        <div class="sidebar-logo">
            <img src="/static/images/logo.png">
        </div>
        
        <a href="/dashboard" class="icon-btn">
            <i data-lucide="house"></i>
        </a>

        <a href="/leaderboard_page" class="icon-btn">
            <i data-lucide="trophy"></i>
        </a>

        <a href="/profile" class="icon-btn">
            <i data-lucide="user"></i>
        </a>

        <a href="/settings" class="icon-btn">
            <i data-lucide="settings-2"></i>
        </a>
    </aside>

    <main class="main-area">

        <div class="topbar">
            <h2>Leaderboard</h2>
        </div>

        <div class="panel">
            <div id="board"></div>
        </div>

    </main>

</div>
<script src="https://unpkg.com/lucide@latest"></script>
<script src="/static/js/leaderboard.js"></script>
<script>
    lucide.createIcons();
</script>
</body>
</html>
